ATTRS{idVendor}=="187c" ATTRS{idProduct}=="0522", ENV{ID_MM_DEVICE_IGNORE}="1"

SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="187c", ATTR{idProduct}=="0522", GROUP="video"

